body {
    background-color: #e7f3f9;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    overflow: hidden
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
}
.row{
    display: flex;
    justify-content: center;
    background-color: #a2c7dc;
    width: auto;
}
.fixed-item{
    padding: 8px;
    flex-shrink: 1;
}
.flex-item{
    padding: 8px;
    flex-shrink: 1;
}
.instructions {
    line-height: 25px;
}

* {
    font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
}